* {
  margin: 0px;
  box-sizing: border-box;
}

#wrap {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #d9d9d9;
}

#wrap > :first-child {
  display: flex;
}

#container {
  flex-direction: column;
  width: 660px;
  height: 100vh;
  background-color: #ffffff;
  padding: 50px;
}
