* {
  box-sizing: border-box;
  margin: 0px;
}

#wrap {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #d9d9d9;
}

#wrap > :first-child {
  display: flex;
}

#container {
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 50px;
}

.account_Information {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submitButton {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.accountSubmit {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

.personalInformation {
  overflow: scroll;
  height: 10vh;
}

.marketingInformation {
  overflow: scroll;
  height: 10vh;
}
