@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monofett&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/*바디와 같은 크기를 가지는 div*/
/* #wrap {
  width: 100vw;
  height: 100vh;

} */

/*wrap 안에 첫번째 자식인 div이다 나중에 채팅이나 다른 블럭들을 가지게 될것이다.*/
/* #container {
  font-family: 'Inter';

  width: 100%;
  height: 80%;
  background-color: #d8c5a6;
} */

/*이름 그대로 밑에 메뉴바를 만들기 위한 영역이다.*/
/* #menuBar {
  width: 100%;
  height: 20%;
  background-color: #886c3e;
} */

/*토글용 버튼으로서 이벤트를 주면서 나중에 확성을 고려하여 클래스로 만들어 두었다*/
.togleBtn {
  width: 10%;
  height: 80%;
  border-radius: 50px;
  margin-left: 150px;
  border: none;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.togleBtn > :nth-child(1) {
  scale: 0.8;
  width: 90%;
  height: 90%;
  cursor: pointer;
  /* border-radius: 50px; */
}

#chatBox {
  margin: 10px 0;
  padding: 5px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;

  /* 스크롤바를 숨기기 위해 overflow 속성을 추가 */
}

#chatBox::-webkit-scrollbar {
  display: none;
}

#userList {
  margin: 10px 0;
  padding: 5px;
  height: 90%;
  overflow-y: scroll;
  /* 스크롤바를 숨기기 위해 overflow 속성을 추가 */
}

#userList::-webkit-scrollbar {
  display: none;
}

#friendList {
  margin: 10px 0;
  padding: 5px;
  height: 90%;
  overflow-y: scroll;

  /* 스크롤바를 숨기기 위해 overflow 속성을 추가 */
}

#friendList::-webkit-scrollbar {
  display: none;
}
#chattingBar {
  width: 25%;
  height: 90%;
  border-radius: 30px;
  background-color: #fca311;
  margin-top: 40px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}

/*유저 친구목록 생성 공간*/
#UsergBar {
  width: 15%;
  height: 90%;
  border-radius: 30px;
  background-color: #fca311;
  margin-top: 40px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}

#UsergBar > :nth-child(1) {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #7198ff;
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnUser {
  /* background-color: #b6ff71; */
  width: 50%;
  height: 100%;
  background-color: #fca311;

  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  /* line-height: 68px; */
}
/*목록 버튼 보더 스타일 따로 주기 위함*/
#UsergBar > :nth-child(1) > :nth-child(1) {
  border-top-left-radius: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#UsergBar > :nth-child(1) > :nth-child(2) {
  border-top-right-radius: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
/*사용자 이름 밑 닫기 버튼 영역*/
#chattingBar > :nth-child(1) {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #fca311;
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*안보이는 영역 크기 설정을 해두었다.*/
#chattingBar > :nth-child(1) > :nth-child(1) {
  width: 10%;
  height: 100%;
}

#chattingBar > :nth-child(1) > :nth-child(2) {
  /* background-color: #b6ff71; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  /* line-height: 68px; */
}

#chattingBar > :nth-child(1) > :nth-child(3) {
  /* background-color: #ffa571; */
  /* margin-left: auto; */
  width: 15%;
  height: 80%;
  border: none;
  cursor: pointer;
  /* background-image: url('http://www.w3.org/2000/svg'); */
  /* background-repeat: no-repeat;
  background-size: contain; */
}

.fa-x {
  border-radius: 50px;
  background-color: #fca311;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

/*채팅이 보여질 영역이다.*/
#chattingBar > :nth-child(2) {
  width: 100%;
  height: 70%;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
}

/*form태그 영역 스타일*/
#chattingBar > :nth-child(3) {
  width: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 23%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*form태그 자식으로 있는 input 스타일*/
#chattingBar > :nth-child(3) > :nth-child(1) {
  width: 70%;
  height: 55%;
  /* background: #D9D9D9; */
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 16px;
}

#chattingBar > :nth-child(3) > :nth-child(2) {
  width: 15%;
  height: 55%;
  border: none;
  background: #7198ff;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  cursor: pointer;
}

.otherText {
  margin-right: auto;
}

.myText {
  margin-left: auto;
}
