* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#wrap {
  width : 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-image: url(/src/views/img/examplePhoto.jpg);
  background-size: cover; */
}
#field {
width: 100%;
height: 100%;
background-image: url(/src/views/img/examplePhoto.jpg);
background-size: cover;
/* display: flex;
flex-direction: row-reverse; */
}
#container {
width: 450px;
height: 690px;
float: right;
/* margin: 40px; */
/* width: 100%;
height: 100%;
background-image: url(/src/views/img/examplePhoto.jpg);
background-size: cover; */
/* display: flex; */
}
#menuArea {
  width: 100%;
  height: 200px;
  position: fixed;
  /* background-color: antiquewhite; */
  bottom: 40px;
  display: flex;
  align-items: center;
  z-index: 10;
}
#menuToggle {
  background-image: url(/src/views/img/menuToggle.png);
  background-size: cover;
  width: 150px;
  height: 150px;
  margin-left: 40px;
  background-color: #FCA311;
  border-radius: 30px;
  /* z-index: 0; */
  /* display: flex;
  align-items: center; */
  position: fixed;
}
#menuBar {
  /* width: 90%;
  height: 20%; */
  margin-left: 40px;
  width: 1440px;
  height: 150px;
  border-radius: 35px;
  background-color: #FCA311;
  /* position: fixed; */
  /* bottom: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* z-index: 10; */
  overflow: hidden;
}
/* 퍽카츄 */
#fucka {
  background-image: url(/src/views/img/pikachu.png);
}
/* 캐릭터들 공동 css */
.character {
  position: absolute;
  z-index: 5;
  width: 250px;
  height: 250px;
  background-size: cover;
}