* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-image: url(/src/views/img/examplePhoto.jpg);
  background-size: cover; */
}
#field {
  width: 100%;
  height: 100%;
  background-image: url(/src/views/img/examplePhoto.jpg);
  background-size: cover;
  /* display: flex;
flex-direction: row-reverse; */
overflow: hidden;
}
#container {
  width: 450px;
  height: 700px;
  /* float: right; */
  right: 0;
  position: absolute;
  z-index: 10;
  /* margin: 40px; */
  /* width: 100%;
height: 100%;
background-image: url(/src/views/img/examplePhoto.jpg);
background-size: cover; */
  /* display: flex; */
}
#menuArea {
  width: 90%;
  height: 200px;
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  /* background-color: antiquewhite; */
  /* align-items: center; */
  justify-content: flex-start;
  /* z-index: 10; */
  /* background-color: #fca311; */
  border-radius: 30px;
  /* margin-left: 40px;
  margin-right: 40px; */
}
#menuToggle {
  background-image: url(/src/views/img/menuToggle.png);
  background-size: cover;
  width: 150px;
  height: 150px;
  /* margin-left: 40px; */
  background-color: #fca311;
  border-radius: 30px;
  /* display: flex; */
  /* align-items: center;  */
  position: fixed;
  z-index: 15;
}
#menuBar {
  /* margin-left: 300px; */
  /* position: absolute;
  left: 200px; */
  width: 100%;
  height: 150px;
  border-radius: 35px;
  background-color: #fca311;
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
/* 퍽카츄 */
#fucka {
  background-image: url(/src/views/img/pikachu.png);
}
/* 캐릭터들 공동 css */
.character {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-size: cover;
}
