/* * {
  margin: 0px;
  box-sizing: border-box;
} */

#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ! container에게 display: flex 부여 */
/* ! 공용 css에서 포함된 속성 제거 */
/* #wrap > :first-child {
  display: flex;
} */

#container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top_header {
  display: flex;
  align-self: flex-start;
  margin-left: 60px;
  margin-bottom: 20px;
}

.createAccountForm {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  width: 540px;
  height: 770px;
}

/* .header { */
/* margin-bottom: 20px; */
/* width: 220px; */
/* height: 65px; */
/* margin-left: -300px; */

/* } */
.account_information {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 610px;
  gap: 7px;
  box-shadow: none;
}
#inputText > input {
  width: 540px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 10px;
  transition: all 0.2s;
}

#inputText > input:focus {
  border-color: #fca311;
  box-shadow: 0px 0px 4px 1px #fca311;
  outline: none;
}

.checkbox {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}

/* .personal {
  border: 1px solid black;
}

.marketing {
  border: 1px solid black;
} */

.personal,
.marketing {
  padding: 10px;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 533px;
  height: 150px;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

/* .personal_check_header {
  display: flex;
  justify-content: space-between;
}

.marketing_check_header {
  display: flex;
  justify-content: space-between;
} */

.personal_check_header,
.marketing_check_header {
  width: 100%;
  display: inherit;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.submitButton {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.submitButton > button:nth-child(1) {
  background-color: #dedede;
  cursor: pointer;
  transition: all 0.4s;
}

.submitButton > button:nth-child(1):hover {
  background: #c5c5c5;
}

.submitButton > button:nth-child(2) {
  background-color: #fca311;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

.submitButton > button:nth-child(2):hover {
  background: #ff8e00;
}

.accountSubmit {
  width: 244px;
  height: 60px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-size: 30px;
}

/* .personal_infomation_text {
  overflow: scroll;
  height: 10vh;
}

.marketing_infomation_text {
  overflow: scroll;
  height: 10vh;
} */

.personal_information_text {
  overflow-y: auto;
}

.marketing_information_text {
  overflow-y: auto;
}
