#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 99, 134);

}



/* 
#div2>p:nth-child(1) {


  width: 60%;
  font-family: 'Monofett';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;

  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FCA311;
}

#div2>p:nth-child(2) {
  width: 60%;
  font-family: 'Inter';
  font-style: normal;
  font-size: 38px;
  color: #000000;
} */