@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monofett&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#wrap > div {
  width: 100vw;
  height: 100vh;
}

#firstScreen {
  background-image: url("/src/views/img/sampleIMG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#secondScreen {
  background-image: url("/src/views/img/sampleIMG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#thirdScreen {
  background-image: url("/src/views/img/sampleIMG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colorPaper {
  background-color: rgba(252, 163, 17, 0.5);
  position: fixed;
}