#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container > div:nth-child(1) {
  width: 460px;
}

#container > div:nth-child(1) > p {
  font-family: "Monofett";
  font-size: 40px;
  color: #fca311;
}

#container > div:nth-child(2) {
  width: 460px;
}

#container > div:nth-child(2) > h1 {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 35px;
}

#loginForm > input {
  padding: 15px;
  font-size: 27px;
  font-weight: 600;
  color: black;
  width: 452px;
  height: 84px;
  border: 2px solid black;
  /* box-shadow: 0px 0px 4px 1px #fca311; */
  border-radius: 7px;
  margin-bottom: 30px;
  transition: all 0.2s;
}

#loginForm > input:focus {
  border-color: #fca311;
  box-shadow: 0px 0px 4px 1px #fca311;
  outline: none;
}

#loginForm > input::placeholder {
  font-size: 27px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

#loginForm > div:nth-child(3) {
  width: 452px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#loginForm > div:nth-child(3) > a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
#loginForm > div:nth-child(3) > a:hover {
  text-decoration: underline;
}

#loginForm > div:nth-child(4) {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

#loginForm > div:nth-child(4) > input {
  width: 213px;
  height: 84px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-size: 25px;
}

#loginForm > div:nth-child(4) > input:nth-child(1) {
  background-color: #dedede;
  transition: all 0.4s;
  cursor: pointer;
}

#loginForm > div:nth-child(4) > input:nth-child(1):hover {
  background: #c5c5c5;
}

#loginForm > div:nth-child(4) > input:nth-child(2) {
  background-color: #fca311;
  color: white;
  transition: all 0.4s;
  cursor: pointer;
}

#loginForm > div:nth-child(4) > input:nth-child(2):hover {
  background: #ff8e00;
}
