* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container > div {
  width: 460px;
}

#container > div > h2 {
  font-family: 'Monofett';
  font-size: 40px;
  color: #FCA311;
  font-weight: 400;
}

#container > div > h3 {
  font-size: 39px;
  font-weight: 500;
  margin-bottom: 35px;
}

#form > input {
  padding: 15px;
  font-size: 27px;
  font-weight: 600;
  color: black;
  width: 452px;
  height: 84px;
  border: 1px solid #FCA311;
  box-shadow: 0px 0px 4px 1px #FCA311;
  border-radius: 7px;
  margin-bottom: 30px;
}

#form > input::placeholder{
  font-size: 27px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

#form > div:nth-child(3) {
  width: 452px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#form > div:nth-child(3) > a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
#form > div:nth-child(3) > a:hover {
  text-decoration: underline;
}

#form > div:nth-child(4) {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

#form > div:nth-child(4) > input {
  width: 213px;
  height: 84px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-size: 25px;
}

#form > div:nth-child(4) > input:nth-child(1) {
  background-color: #D9D9D9;
}
#form > div:nth-child(4) > input:nth-child(2) {
  background-color: #FCA311;
  color: white;
}

/* #container > :nth-child(1) {
  width: 40%;
}

#form {
  display: flex;
  flex-direction: column;
}

#form > :nth-child(3){
  display: flex;
  justify-content: space-between;
}

#form > :nth-child(4){
  display: flex;
  justify-content: space-between;
} */
