@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monofett&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/src/views/img/wrap.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
  gap: 35px;
}

#wrapSecond {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/src/views/img/wrapSecond.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
}

#wrapThird {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/src/views/img/wrapThird.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
}

#titleText {
  font-family: "Monofett", cursive;
  font-size: 200px;
  z-index: 2;
  color: #fca311;
  text-shadow: black 3px 3px 2px;
  letter-spacing: 15px;
}

#colorPaper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(252, 163, 17, 0.5);
  z-index: 1;
}

#colorPaperSecond {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(252, 163, 17, 0.5);
  z-index: 1;
}

#colorPaperThird {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(252, 163, 17, 0.5);
  z-index: 1;
}

#container {
  display: flex;
  font-weight: bold;
  width: 450px;
  height: 40px;
  z-index: 2;
  justify-content: space-evenly;
}

#container_second {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  justify-content: space-evenly;
}

#container_second_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10%;
  background-color: #bc6c25;
  font-size: 50px;
}

#container_second_header_title {
  font-family: "Monofett", cursive;
  color: #fca311;
  margin-left: 50px;
  margin-bottom: 15px;
  letter-spacing: 10px;
}

#container_second_sign_in_button {
  width: 460px;
  height: 82px;
  margin-right: 50px;
  background-color: #fca311;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: #bc6c25;
  font-weight: bolder;
}

#container_second_sign_in_button:hover {
  background: #ff8e00;
}

#container_second_introduce_one {
  display: flex;
  width: 100%;
  height: 45%;
}

#container_second_introduce_one_picture_box {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#container_second_introduce_one_picture_background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  background-color: #fca311;
  border-radius: 15px;
}

#container_second_introduce_one_picture {
  background-image: url("/src/views/img/introduceOne.png");
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 90%;
  border-radius: 15px;
}

#container_second_introduce_one_textbox {
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 55px;
  align-items: center;
  color: #fca311;
  text-shadow: 1px 1px 2px black;
}

#container_second_introduce_two {
  width: 100%;
  height: 45%;
}

#buttons {
  background: #fca311;
  border-radius: 5px;
  transition: all 0.2s;
  text-align: center;
  border: none;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

#buttons:hover {
  background: #ff8e00;
}
