@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monofett&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("/src/views/img/sampleIMG.png");
  background-size: cover;
  background-position: center;
}

#colorPaper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(252, 163, 17, 0.5);
  z-index: 1;
}

#container {
  font-family: "Inter";
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
