<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/views/css/chatting.css" />
    <link rel="stylesheet" href="/src/views/css/chattingAndFriendBtn.css" />
  </head>
  <body></body>
  <script src="/src/views/js/chatting.js" type="module"></script>

  <script
    src="https://kit.fontawesome.com/00e7bf3c0d.js"
    crossorigin="anonymous"
  ></script>
  <script src="/src/views/js/chattingAndFriendBtn.js" type="module"></script>
  <script src="/chat/socket.io.js"></script>
  <script src="/src/views/js/chat.js" type="module"></script>
</html>
