<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #field {
      width: 1000px;
      height: 1000px;
    }
    /* #chracter {
      background-image: url(../img/pikachu.png);
      width: 100px;
      height: 100px;
      z-index: 20;
    } */
  </style>
</head>
<body>
  <div id="fieldContainer">
    <canvas id="field">
      <!-- <div id="chracter"></div> -->
    </canvas>
  </div>
  <script>
    const fieldContainer = document.getElementById("fieldContainer");
    const field = document.getElementById("field");
    const context = field.getContext('2d');
    console.log(context);
    // 필드
    context.fillStyle = 'green' 
    // 필드 경계선
    context.strokeStyle = 'white';
    context.lineWidth = 2;
    context.fillRect(0, 0, field.width, field.height);
    context.strokeRect(0, 0, field.width, field.height);
    
    // 캐릭터 이미지 선택
    const characterImg = new Image();
    // context.imageSmoothingEnabled = true
    characterImg.src = '../img/pikachu.png';

    characterImg.onload = function() {
      const characterSize = 30;
      // 캐릭터 x 좌표 -> 필드 중앙에 생성
      const characterX = (field.width - characterSize) / 2;
      // 캐릭터 y 좌표
      const characterY = (field.height - characterSize) / 2;
      // canvas에 캐릭터 생성
      context.drawImage(characterImg, characterX, characterY,characterSize,characterSize); // x, y는 이미지가 그려질 좌표
    };

    // 캐릭터 이동 이벤트
    // window.addEventListener("keydown",(event)=> {
    //   const key = event.key;
    //   if(key === "ArrowUp") {
    //     characterX -=10;
    //   }
    // });
  </script>
</body>
</html>