<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/views/css/common.css">
  </head>
  <body>
    <script src="/src/views/js/index.js" type="module"></script>
  </body>
  <script>
    // const cookieString = document.cookie;
    // const parse = JSON.parse(cookieString);
    // console.log(parse);// 쿠키 문자열을 가져오기
// const cookieString = document.cookie;

// // 쿠키 문자열을 파싱하여 쿠키 객체로 만들기
// const cookies = cookieString.split("; ").reduce((acc, cur) => {
//   const [name, value] = cur.split("=");
//   return { ...acc, [name]: value };
// }, {});

// // 쿠키 객체에서 userCookie의 값을 파싱하여 사용자 정보 가져오기
// const userCookie = JSON.parse(cookies.userCookie);
// const userID = userCookie.userID;

// // 환영 메시지 출력
// console.log(`${userID}님 환영합니다`);
  </script>
</html>
